body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,montserrat-medium, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fas {
  margin-top: 8%;
  color: white;
  font-size: 25px;
  margin-left: 8%;
}

.MuiPaper-root {
  width: 20%;
}

.pic{
  width: 100%;
  margin-top: -3px;
}

.App {
  text-align: center;
}

.swiper-container {
  min-height: 290px;
  max-height: 650px;
  width: 80vw;
  left: -19%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #39b54a;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  color:black;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  color: black;
}